/* reset all of the defaults to 0 so that you can write your OWN css */
/* don't rely on the built-in browser defaults */


* {
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body { 
    font-size: 16px;
    background: linear-gradient(rgb(124, 124, 124), rgb(50, 0, 141)) no-repeat;

    font-family: 'Inconsolata', monospace

    color: black;
}

header > h1 { 
    text-align: center; 
    padding: 8px;
    font-family:'Courier New', Courier, monospace
}

article { 
    width: 25%; 
    border: 4px solid black; 
    border-radius: 8px; 

    display: inline-block;
    margin: 10px 12px;

    text-align: left;
}

main { 
    text-align: center; 
    height: 1000px
}

img {
    z-index: -1;
    position: absolute;
    left: -60px;
    top: -145px;
    opacity: 80%;
}

article > h2 { color: red;  padding: 4px 8px; }

article:first-of-type { border: 4px solid red; }

#inprogress { border: 4px solid rgb(244, 248, 0); }
#inprogress h2 { color: rgb(244, 248, 0); }

#done { border: 4px solid rgb(0, 162, 255); }
#done h2 { color: rgb(0, 68, 255); }

ul { list-style-type: none; }

ul li { padding: 12px 8px; text-transform: uppercase; }

input[type="checkbox"] { 
    margin-left: 5px; 
    margin-right: 15px; 
}

#inprogress input[type="checkbox"]:checked + span::after {
    content: "Finish!";
    font-size: 24px;
    text-align: center;
    color: rgb(125, 8, 179);

    animation: fadeIn 1s;
}

input[type="checkbox"]:checked + span::after {
    content: "Completed!";
    font-size: 24px;
    text-align: center;
    padding-right: 125px;
    color: rgb(0, 156, 0);
    
    animation: fadeIn 1s;
}

.todo li:nth-child(odd) { background-color: rgba(0, 0, 0, 0.158)}

.inprogress li:nth-child(odd) { background-color: rgba(255, 0, 0, 0.11)}

.done li:nth-child(odd) { background-color: rgba(0, 255, 0, 0.13)}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }